@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'poppins', sans-serif;
}

button {
  @apply focus:outline-none;
}

nav * {
  font-family: 'roboto', sans-serif;
}

.nav .nuxt-link-active {
  @apply rounded-b-3xl bg-white text-yellow-900 font-bold px-2;
}

.mobile-nav .nuxt-link-active {
  @apply bg-white text-yellow-900 font-bold px-2;
}

.bg-program {
  background-image: url('~/assets/images/bg-program-2.jpg');
  background-size: cover;
  @apply bg-fixed;
}

@layer components {
  @responsive {
    .h-screen-80 {
      height: 60vh;
    }
    .h-nav {
      height: 4.375rem;
    }
    .w--30 {
      width: 30.5rem;
    }
    .h--30 {
      height: 39.1rem;
    }
    .w--price {
      width: 50.5rem;
    }
    .h--price {
      height: 55.1rem;
    }
    .w--price-photo {
      width: 34.375rem;
    }
    .h--price-photo {
      height: 33.403125rem;
    }
    .h--gallery-item {
      height: 350px;
    }
    .w--gallery-item {
      width: 400px;
    }
    .w--packet-photo {
      width: 100rem;
    }
    .h--packet-photo {
      height: 35rem;
    }
    .w--category-lg {
      width: 30.5rem;
    }
    .h--category-lg {
      height: 30.5rem;
    }
    .w--28 {
      width: 28rem;
    }
    .h--28 {
      height: 28rem;
    }
    .w--52r {
      width: 52rem;
    }
    .h--52r {
      height: 52rem;
    }
    .w--55r {
      width: 55rem;
    }
    .h--55r {
      height: 55rem;
    }
  }
}
